@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
    .site-nav {
        margin-left: 76px;
    }
    .list-adress .connect-link {
        font-size: 16px;
        line-height: 1.5;
        display: flex;
    }
    .connect:not(:last-child) {
        margin-right: 40px;
    }
        
    .site-nav .item:not(:last-child) {
        margin-right: 40px;
    }
        
    .list-adress {
        display: flex;
        margin-left: auto;
    }
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        width: 1440px;
        background-image: linear-gradient(to right,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url("../image/people-office.jpg");
            }
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .hero {
                    background-image: linear-gradient(to right,
                            rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)),
                             url("../image/people-office-2x.jpg");
                }
    }
    .feature-list,
    .work-list,
    .team-list {
        display: flex;
    }
    
    .feature-list .item:not(:last-child),
    .work-list .item:not(:last-child),
    .team-list .item:not(:last-child) {
        margin-right: 24px;
    }
    
    .features-icon {
        width: 64px;
        height: 64px;
    }
    .features-position {
        display: flex;
        height: 112px;
        background-color: var(--cloud-color);
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
        
    .feature-list .item {
        width: calc((100% - 72px) / 4);
    }
        
    .feature-list .title {
        text-align: left;
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .work {
        padding-top: 0;
    }

    .work-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .work-list .item {
        width: 360px;
    }
    .customers-list .item {
        width: calc((100% - 120px) / 6);
    
    }
    
    .section-customers {
        padding-top: 120px;
    }
    .footer-elements {
         background-color: var(--title-text-color);
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
    }
    .information {
         width: 264px;
        margin-right: 120px;
    }
    .footer{
        display: flex;
    }

    .footer-links {
        width: 208px;
        height: 40px;


    }
    .footer-mail input {
        width: 264px;
    }
    .footer-subscribe {
        margin-left: 80px;
    }

    .footer-form {
        display: flex;
    }

    .footer-mail {
         margin-right: 24px;
    }

    /* PORTFOLIO */
    .project-section {
        padding-top: 96px;
        padding-bottom: 120px;
    }
    
    .filter-btn {
        margin-bottom: 72px;
    }
    .project-list .item {
        width: calc((100% - 12 * 4) / 3);
    }
    
    .project-list .item:nth-child(-n+6) {
        margin-bottom: 48px;
    
    }
}

