@media screen and (min-width: 768px){
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
        max-width: 498px;
    }
    .modal {
        width: 408px;
    }
    .menu-button {
        display: none;
    }
    .menu-container {
        display: none;
    }
    .site-nav {
        display: flex;
    }
    .list-adress {
        display: block;
    }
}
    
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: 768px;
    }
    .container-tablet {
        padding-left: 108px;
        padding-right: 108px;
    }
    .site-nav {
        margin-left: 123px;
    }
    .connect + .connect {
        margin-top: 4px;
    }
    .list-adress .connect-link {
        font-size: 12px;
        line-height: 1.33;
    }
    .hero {
        padding-top: 112px;
        padding-bottom: 108px;
        width: 768px;
        background-image: linear-gradient(to right,
                        rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url("../image/hero-tablet.jpg");
            }
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .hero {
                    background-image: linear-gradient(to right,
                            rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)),
                            url("../image/hero-tablet-2x.jpg");
                }
    }
    .section:nth-child(2n+1) {
        padding-bottom: 96px;
    }
    
    .section:nth-child(2n) {
        padding-bottom: 128px;
    }
    .feature-list,
    .team-list {
        display: flex;
        flex-wrap: wrap;
    }
    .feature-list .item {
        width: calc((100% - 2 * 12px) / 2);
        margin-bottom: 72px; 
    }
    .feature-list .title {
        text-align: left;
    }
    .feature-list .item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    .feature-list {
        justify-content: space-between;
    }
    .team-list {
        justify-content: center;
        column-gap: 24px;
    }
    .team-list .item {
        width: calc((100% - 2 *12px) / 2);
        margin-bottom: 64px;
    }
    .team-list .item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    .customers-list .item {
        width: calc((100% - 4 * 12px) / 3);
        margin-bottom: 72px;
        }
        
    .customers-list .item:nth-last-child(-n+3) {
        margin-bottom: 0;
        }
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    .information {
        width: 264px;
        margin-right: 24px;
        margin-bottom: 72px;
    }
    .footer-form {
        display: flex;
    }
    .footer-mail {
        width: 264px;
        margin-right: 24px;
    }
}